.metals
.vscode

recfun/*
!recfun/src/**

funsets/*
!funsets/src/**

objsets/*
!objsets/src/**

patmat/*
!patmat/src/**

forcomp/*
!forcomp/src/**

streams/*
!streams/src/**

idea/
.vscode/
.metals/
*.iml
.classpath
.project
target/**
.settings/

*.pdf
*.zip



